
<div class="templates">
    <label class="img-label" for="template">
        <img src="{{ url_for('static', filename='cards/onam_1.png') }}" alt="onam_1">
        <input type="radio" name="template" value="onam_1" required>
    </label>
    <label class="img-label" for="template">
        <img src="{{ url_for('static', filename='cards/onam_2.png') }}" alt="onam_2">
        <input type="radio" name="template" value="onam_2">
    </label>
    <label class="img-label" for="template">
        <img src="{{ url_for('static', filename='cards/onam_3.png') }}" alt="onam_3">
        <input type="radio" name="template" value="onam_3">
    </label>
    <label class="img-label" for="template">
        <img src="{{ url_for('static', filename='cards/onam_4.png') }}" alt="onam_4">
        <input type="radio" name="template" value="onam_4">
    </label>
    <label class="img-label" for="template">
        <img src="{{ url_for('static', filename='cards/onam_5.png') }}" alt="onam_5">
        <input type="radio" name="template" value="onam_5">
    </label>


</div>